<% if ( typeof(req.session.User) == 'undefined'){ %>
<script type="text/javascript">
  bootstrap_alert['success']('See you soon!', 0 )
</script>
<%  } %>

<% if (messages && messages['error'].length > 0) { %>
<% messages['error'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['danger']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['warning'].length > 0) { %>
<% messages['warning'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['warning']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['success'].length > 0) { %>
<% messages['success'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['success']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>


<form action="/session/create" method="POST" class="form-signin">
  <h2 class="form-sigin-heading">Please sign in...</h2>

  <div class="control-group">
    <input type="text" class="form-control" placeholder="Email address" name="email" required>
  </div>
  <div class="control-group">
    <input type="password" class="form-control" placeholder="Password" name="password" required>
  </div>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in"/>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
