<div id="joystick_<%= event.id %>" class="joystick_<%= event.id %> position_<%= event.id %> draggable" style="max-width: 100px">

</div>
<%- partial ('../joystick/style_joystick.ejs', {event: event})%>
