<div class="panel panel-info">
  <div class="panel-heading"><%= i18n('users') %></div>
  <div class="panel-body">
    <div id="current_user"></div>
    <div id="user_viewer_list"></div>
  </div>
</div>
