<div id="stream-container">
  <canvas id="play_<%= video.id %>" width="400" height="300" style="border:solid;" style="background:src('/images/video/video.png');"></canvas>
  <%- partial ('../video/style_video.ejs', {video: video})%>
</div>
