<div id="video_<%= video.id %>" class="draggable position_<%= video.id %>" style="width: 405px; height: 405px">
  <canvas id="play_<%= video.id %>">
  ></canvas>
  <%- partial ('../video/style_video.ejs', {video: video})%>
</div>

