<%- partial('_elements.ejs') %>

<% if (messages && messages['error'].length > 0) { %>
<% messages['error'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['danger']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['warning'].length > 0) { %>
<% messages['warning'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['warning']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>
<% if (messages && messages['success'].length > 0) { %>
<% messages['success'].forEach(function(message) { %>
<script type="text/javascript">
  bootstrap_alert['success']('<%= message.err %>', 0 )
</script>
<% }); %>
<% } %>

<div id="board" class="panel panel-success margintop20">
  <div class="panel-heading marginbottom20"> Control </div>

  <div class="row">
    <div class="col-md-1">
      <div class="bottom_col marginlef10">
        <div class="list-group">
          <a class="list-group-item"><i class="fa fa-plus fa-2 marginlef10" aria-hidden="true"></i>&nbsp;</a>
          <a class="list-group-item"><i class="fa fa-remove fa-2 marginlef10" aria-hidden="true"></i>&nbsp;</a>
          <a class="list-group-item"><i class="fa fa-edit fa-2 marginlef10" aria-hidden="true"></i>&nbsp;</a>
          <a class="list-group-item"><i class="fa fa-plug fa-2 marginlef10" aria-hidden="true"></i>&nbsp;</a>
          <a class="list-group-item"><i class="fa fa-cog fa-2 marginlef10" aria-hidden="true"></i>&nbsp;</a>
        </div>
      </div>
    </div>
    <div class="col-md-11">
      <div class="panel_resizable">
        <!-- ELEMENTOS AQUI -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="marginright20 margintop10 marginbottom10 floatright">
        <a id="save_dash" class="btn btn-sm btn-success" > Save dashboard! </a>
        <a id="edit_dash" class="btn btn-sm btn-warning" > Edit dashboard! </a>
        <a id="reset_dash" class="btn btn-sm btn-danger" > Reset dashboard! </a>
      </div>
    </div>
  </div>

</div>



  <% partial ('_dashboard.ejs') %>

  <script type="text/javascript">

    $( "#save_dash" ).click(function() {
      $('#board').addClass('loading');
    });
    $( "#edit_dash" ).click(function() {
      $('#board').removeClass('loading');
    });

    $(function() {
      $( "#board" ).resizable();
    });
    $('#new_action').on("click", function() {
      $('#board').css('cursor', 'wait');
    });

  </script>


</div>






<!-- NOTA IMPORTANTE

LIBRERIA JQUERY PANEL: drag and drop

http://gridster.net

-->







