<div class="jumbotron">
  <div class="row justify-content-md-center">
    <div class="col-lg-4">
      <h1>
        <span class="error-404">404</span>
        <img src="/images/not_found.png" class="img-responsive" alt="RobotUI.com" title="RobotUI.com">
      </h1>
    </div>
  </div>
  <div class="margintop20">
    <h2>The page you're looking for could not be found.</h2>
  </div>
</div>


<div class="clear"></div>

<div class="jumbotron">
  <div class="form-signin">
    <% if (!req.session.User) {%>
    <a href="/index" class="btn btn-lg btn-block btn-success"> <%= i18n("index") %></a>
    <% } else { %>
    <a href="/robot/index_public_robots" class="btn btn-lg btn-block btn-success"> <%= i18n("robots") %></a>
    <% } %>
  </div>
</div>


<script type="text/javascript">
  function subscribeAndListen() {
    io.socket.get('/message/message_subscribe');
  }
</script>
