<div id="error_panel" class="panel panel-danger hidden">
  <div class="panel-heading">
    <%= i18n('error') %>
  </div>
  <div class="panel-body">
    <div id="errors_container"></div>
  </div>
</div>
