<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="uimodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-4">
            <img style="max-width:150px;" src="/images/logo/logotipo.png">
          </div>
          <div class="col-md-4">
            <h3 id="uimodal" class="modal-title center"></h3>
          </div>
          <div class="col-md-4">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fa fa-window-close-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <%- partial ('_error.ejs')%>
        <div id="errors_container"></div>
        <div id="container"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal"><%= i18n('close') %></button>
          <button id="btn_action_modal" type="button" class="btn btn-success" onclick='submit_function()'> <%= i18n('new') %></button>
        </div>
      </div>
    </div>
  </div>
</div>
