<!-- Start Contact 1 -->
<section class="content-block contact-1">
  <div class="container text-center">

    <div class="col-sm-10 col-sm-offset-1">

      <div class="underlined-title">
        <div class="editContent">
          <h1>Get in Touch</h1>
        </div>
        <hr>
        <div class="editContent">
          <h2>Feel free to drop us a line to contact us</h2>
        </div>
      </div>

      <div class="editContent">
        <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.</p>
      </div>
      <div class="editContent">
        <ul class="contact-info">
          <li><span class="fa fa-map-marker"></span>16 Queen's Mews, Covent Garden, London, LO2 4ON</li>
          <li><span class="fa fa-phone"></span>+44 (0) 1234 5678</li>
          <li><span class="fa fa-envelope"></span><a href="mailto:buyme@bootstrapstarterkit.com">buyme@bootstrapstarterkit.com</a> </li>
        </ul>
      </div>

      <div class="form-container">
        <form class="forms" action="contact/form-handler.php" method="post">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input value="" placeholder="Name" class="form-control" type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input value="" placeholder="Email" class="form-control" type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <input value="" placeholder="Phone" class="form-control" type="text">
              </div>
            </div>
          </div><!-- /.row -->
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Message" id="textArea"></textarea>
            <div class="editContent">
              <p class="small muted">Once we receive your message we will respond as soon as possible.</p>
            </div>
          </div>
          <div class="form-group">
            <a href="#" class="btn btn-primary">Send</a>
          </div>
        </form>
      </div><!-- /.form-container -->

    </div><!-- /.col-sm-10 -->

  </div><!-- /.container -->
</section><!-- /.content-block -->
<!--// END Contact 1 -->
