<footer>
  <div class="container">
    <hr>
    <div class="footer">
      <a class="navbar-brand" rel="home" href="/" title="Home page">
        <img src="/images/logo/logotipo.png" style="max-width:150px;">
      </a>

      <div class="text-right marginbottom10">
        <div><%= i18n("author") + ': ' %> Manuel López Urbina</div>
        <a href="https://www.facebook.com/robotui"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/robotui"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com/+Robotui-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:robotui.controller@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>

      <div id="footer">
        <div class="container">
          <a href="/index/about"><p class="text-muted"><%= i18n("about") + ' RobotUI' %></p></a>
        </div>
      </div>
    </div>
  </div>
</footer>
