
<div class="container">
  <div class="jumbotron">
    <img src="/images/about.png" class="img-responsive center-block" alt="RobotUI.com">

    <div class="margintop20">
      <h2>Manuel López Urbina - RobotUI.com - Universidad de Cádiz</h2>
      <a href="https://www.facebook.com/robotui"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/robotui"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/+Robotui-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:robotui.controller@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
  </div>
</div>
