<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="container">
  <div class="jumbotron">

    <img src="/images/logo/logotipo.png" class="img-responsive center-block" alt="RobotUI.com">
  </div>
</div>

<% if (!req.session.User) {%>
<div class="container">
  <div class="jumbotron">
    <div class="margintop20">
      <a href="/user/new" class="btn btn-lg btn-success"> <%= __("signupnow") %></a>
    </div>
  </div>
</div>
<% } %>

