 <div class="jumbotron">
    <img src="/images/logo/logotipo.png" class="img-responsive center-block" alt="RobotUI.com">
    <div class="margintop20">
      <h2>The platform for all people can interact with robots through the internet.</h2>
    </div>
  </div>

<div class="column colspan-1 text-center">
  <img src="/images/index/game.png" alt="play with robots" class="img-responsive card-circle block center" style="height:100px">
  <h4 class="index_h">Play with robots!</h4>
  <p class="index_p">Create robot games for people to have fun.</p>
</div>


<div class="column colspan-1 text-center">
  <img src="/images/index/turn_on.png" alt="play now" class="img-responsive card-circle block center" style="height:100px">
  <h4 class="index_h">Get started!</h4>
  <p class="index_p">Join us and add your robot!</p>
</div>

<div class="column colspan-1 text-center">
  <img src="/images/index/work.png" alt="tutorial" class="img-responsive card-circle block center" style="height:100px">
  <h4 class="index_h">How to do it?</h4>
  <p class="index_p">If you don't know how to do it, check our tutorial!</p>
</div>

<div class="clear"></div>

 <div class="jumbotron">
   <div class="form-signin">
     <% if (!req.session.User) {%>
     <a href="/user/new" class="btn btn-lg btn-block btn-success"> <%= __("signupnow") %></a>
     <% } else { %>
     <a href="/robot/index_public_robots" class="btn btn-lg btn-block btn-success"> <%= __("robots") %></a>
     <% } %>
   </div>
 </div>
