<%- partial('../_alert.ejs', {flash: flash}) %>
 <div class="jumbotron">
    <img src="/images/logo/logotipo.png" class="img-responsive center-block" alt="RobotUI.com">
    <div class="margintop20">
      <h2>The platform for all people can interact with robots through the internet.</h2>
    </div>
  </div>

<% if (n_robots_online > 0){%>
<!-- <div class="alert alert-success" role="alert">There are <%= n_robots_online %> robots online, choose one and start playing!</div> -->
<%}%>


<div class="row">
  <div class="col-md-4">
    <img src="/images/index/game.png" alt="play with robots" class="img-responsive card-circle card-margin-right card-left" style="width:80px">
    <div class="floatleft">
      <h2 style="font-size: 20px">Play with robots!</h2>
      <p>Create robot games!</p>
    </div>
  </div>
  <div class="col-md-4">
    <img src="/images/index/turn_on.png" alt="play now" class="img-responsive card-circle card-margin-right card-left" style="width:80px">
    <div class="floatleft">
      <h2 style="font-size: 20px">Get started!</h2>
      <p>Join us and add your robot!</p>
    </div>
  </div>
  <div class="col-md-4">
    <img src="/images/index/work.png" alt="tutorial" class="img-responsive card-circle card-margin-right card-left" style="width:80px">
    <div class="floatleft">
      <h2 style="font-size: 20px">How to do it?</h2>
      <p>Check our tutorial!</>
    </div>
  </div>
</div>

<div class="clear"></div>


<% if (!req.session.User) {%>
  <div class="jumbotron">
    <div class="margintop20">
      <a href="/user/new" class="btn btn-lg btn-success"> <%= __("signupnow") %></a>
    </div>
  </div>
<% } %>

