<%- partial('../_alert.ejs', {flash: flash}) %>

<div class="container">
  <div class="jumbotron">
    <h1>RobotUI</h1>
    <h2>Controler</h2>

    <% if (!req.session.User) {%>
    <a href="/user/new" class="btn btn-lg btn-success"> <%= __("signupnow") %></a>
    <% } %>
  </div>

  <div>
    <h1>  <%= __("Welcome") %> </h1>
  </div>
</div>
