//
   Created by manuel on 11/02/16.

doctype html
html
  head
    title my jade template
  body
    h1 #{i18n('Welcome')}
div.container
  div.jumbotron
    h1 RobotUI
    h2 Controler
    a(href="/user/new" class="btn btn-lg btn-success")
    Sign up now!
