<div class="jumbox">
  <h2> <%= i18n("messages") %></h2>

  <%- partial('_table.ejs')%>

  <div class="button_right">
    <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#writeModal" onclick="new_message('/message/create', '<%= i18n('message') %>')">
      <%= i18n('write') %>
    </button>
  </div>
</div>


<script type="text/javascript">

  function msg_as_read(id) {
    $.ajax({
      url: '/message/markasread/' + id,
      type: 'GET',
      data: {},
      success: function () {
        var env_id = '#env_' + id;
        $(env_id).html('<i class="fa fa-eye fa-2x" aria-hidden="true"></i>');
        var read_btn = '#mark_read_btn_' + id;
        $(read_btn).remove();

        // Update num msg
        var num_msg = document.getElementById('msg_new').innerHTML.replace('+','');
        num_msg--;
        $('#buttom_msg').html('<a href="/message/index">Messages <span id="msg_new" class="label label-pill label-danger">' + '+' + num_msg + '</span></a>');
       toastr.info('', 5000 );

      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }

  function destroy_msg(id) {
    $.ajax({
      url: '/message/destroy/',
      type: 'GET',
      data: {id: id},

      success: function (data) {
        $("#line_msg_" + id).remove();
       toastr.info('The message has been deleted!', 'Message' );
      },

      error: function (xhr, status, text) {
        bootstrap_alert['danger'](xhr.responseText, 5000 );
      }
    });
  }



  function new_message(action, title){
    $.ajax({
      url: action,
      type: 'GET',
      success: function(data){
        openModal(title, data);
      }
    });
  }

  function subscribeAndListen() {
    io.socket.get('/message/message_subscribe');
  }

</script>
