<div id="logger"></div>

<img id="play" class="img-responsive" src="/images/video/video.png">

<script type="text/javascript">

  function listenVideo() {
    //Subscribimos
    io.socket.get("/interface/video_emit");

    io.socket.on('message', function (data) {
          var image = document.getElementById("play");
          image.src = data.image;
    });
  }

  addLoadEvent(listenVideo);

</script>
