<li class="col-sm-3">
  <div class="fff">
    <div class="thumbnail">
      <a href="#"><img src="<%= robot.avatarUrl%>" alt="" style="width:360px;"></a>
    </div>
    <div class="caption">
      <h4><%= robot.name%></h4>
      <p><%= robot.description%></p>
      <a class="btn btn-mini" href="#">» Read More</a>
    </div>
  </div>
</li>

