
<div class="jumbox">
  <h3>Public Robots</h3>
  <%- partial('_table.ejs', {robots: public_robots, type: 'public_robots'}) %>
  <div class="button_right">
    <a href="/robot/share" class="btn btn-sm btn-success">Share a new robot!</a>
  </div>
</div>


<script type="text/javascript">
  addLoadEvent(subscribeAndListen_robot);

  function subscribeAndListen_robot(){
    io.socket.get('/robot/robot_subscribe/');

    io.socket.on('robot', function (obj) {

      if (obj.verb == 'updated') {
        var data = obj.data;
        change_img_state(data.id, data.online);
        console.log('Robot has been updated to: online:' + data.online);
      }

    });
  }
</script>


<div class="col-md-12">
  <div class="carousel slide" id="myCarousel">
    <div class="carousel-inner">
      <div class="item active">
        <ul class="thumbnails">
          <% _.each(public_robots, function(robot){ %>
          <%- partial('_card.ejs', {robot: robot}) %>
          <% }) %>
        </ul>
      </div>
    </div>

    <nav>
      <ul class="control-box pager">
        <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
        <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
