
<div class="jumbox">
  <h3>My Shared Robots</h3>

  <% if(driver_robots.size == 0){ %>
  <div class="alert alert-info margintop20 marginbottom20" role="alert">
    <strong>Ups!</strong>
    You haven't created any robots shared yet...
  </div>
  <% } else { %>
  <%- partial('_table.ejs', {data: data, type: 'my_driver_robots'}) %>
  <% } %>

  <div class="button_right">
    <a href="/robot/share" class="btn btn-sm btn-success">Share a new robot!</a>
  </div>
</div>

<script type="text/javascript">

  addLoadEvent(subscribeAndListen_robot);

  function subscribeAndListen_robot(){
    io.socket.get('/robot/robot_subscribe/');

    io.socket.on('robot', function (obj) {

      if (obj.verb == 'updated') {
        var data = obj.data;
        change_img_state(data.id, data.online);
        console.log('Robot has been updated to: online:' + data.online);
      }

    });
  }
</script>
