//Dashboard

.board_container{
  background-color: #FFFFFF;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}


.loading {
  background: rgba( 255, 255, 255, .8 )
  url('/images/loading/loader.gif')
  center
  no-repeat;
}


.panel_container{
  position: relative;
  display: inline-block;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.panel_resizable {
  border: 2px solid;
 }

.panel_resizable.edit {
  border: 2px solid;
  background-image:url('/images/puntos.gif');
  background-repeat:repeat;
}


.panel_resizable.work {
  border: 2px solid;
  background-color: white;
}


.bottom_col{
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
}
